body{background-color: red;}
.container{width: 960px; background-color: white; margin-left: auto;margin-right: auto; padding-top: 10px; padding-bottom: 10px;}
.row{width: 940px; background-color: pink; margin-left: auto;margin-right: auto;}
.col9{width: 700px; background-color: gray;}
.col3{width: 220px; background-color: gray;}
.toleft{float: left;}
.toright{float: right;}
.col6{width: 460px; background-color: cadetblue;}
.marginleft{margin-left: 20px;}
.clearboth{clear: both;}